body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 30px;
}

.card {
  margin-top: 20px;
}

button {
  padding: 12px 20px;
  margin: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #333;
  cursor: pointer;
}

#previewBox {
  margin-top: 25px;
  padding: 10px;
}

#preview {
  width: 90%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 12px;
}
