body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f5f7fa;
}

button {
  padding: 12px 20px;
  margin: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid black;
}

#previewBox {
  margin-top: 20px;
}

#preview {
  width: 90%;
  max-width: 350px;
  display: none;
  border-radius: 12px;
}
