body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  text-align: center;
}

h1 {
  margin-top: 40px;
}

.card {
  margin-top: 30px;
}

button {
  padding: 12px 20px;
  margin: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #333;
  cursor: pointer;
}

#previewBox {
  margin-top: 20px;
}

#preview {
  max-width: 90%;
  border-radius: 10px;
  display: none;
}
