body {
    font-family: Arial;
    background: #f2f2f2;
}

.card {
    width: 350px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
}

button {
    background: #1f6feb;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}