body {
  font-family: Poppins, Arial, sans-serif;
  text-align: center;
  background: #f5f7fa;
  padding: 20px;
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
}

.upload-box {
  background: white;
  padding: 20px;
  border-radius: 15px;
  display: inline-block;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

#preview {
  width: 250px;
  margin-top: 15px;
  display: none;
  border-radius: 10px;
}

#result {
  margin-top: 15px;
  font-weight: bold;
}
